<%- include('../../../../components/header.ejs') %>
<div class="contact-us">
  <div class="center">
    <img src="/static/assets/page-views/about/contact-us/map.jpg">
    <div class="brief">
      <div class="tel">联系电话：400-898-5401</div>
      <div class="email">改！联系电话：400-898-5401</div>
      <div class="address">地      址：北京市海淀区王庄路1号清华同方科技大厦D座17层</div>
    </div>
  </div>
</div>
<%- include('../../../../components/footer.ejs') %>