@import '../../../../../components/header.less';
@import '../../../../../components/footer.less';
@bread_color: #0B181D;
.about-us {
  @media (min-width: @pad_width) {
    .bg-size {
      width: 100%;
      overflow: hidden;
      padding-top: 100px;
      .about-title {
        text-align: center;
        &.absolute {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          margin-top: 60px;
          font-family: MicrosoftYaHei-Bold !important;
          font-weight: 200;
          font-size: 80px;
          color: #F7F8FB;
          letter-spacing: 2px;
          line-height: 90px;
          .foot {
            color: #fff;
          }
          .head {
            opacity: 0.1;
          }
        }
        .head {
          font-family: MicrosoftYaHei-Bold !important;
          font-weight: bold;
          font-size: 80px;
          color: #F7F8FB;
          letter-spacing: 2px;
          line-height: 90px;
          text-align: center;
        }
        .foot {
          font-family: MicrosoftYaHeiLight !important;
          font-weight: 200;
          font-size: 42px;
          color: #333333;
          letter-spacing: 2px;
          line-height: 55px;
          margin-top: -50px;
          span {
            font-family: MicrosoftYaHeiLight !important;
            font-weight: 200;
            font-size: 42px;
            color: @color_button_blue;
            letter-spacing: 2px;
            line-height: 55px;
          }
        }
      }
      .about {
        width: 1170px;
        margin: 0 auto;
        .about-body {
          margin-top: 32px;
          p {
            text-indent: 32px;
            font-family: PingFangSC-Light !important;
            font-weight: 200;
            font-size: 16px;
            color: #7688AD;
            letter-spacing: 0.5px;
            line-height: 28px;
          }
        }
        .about-footer {
          overflow: hidden;
          width: 800px;
          margin: 100px auto;
          
          .foot-block {
            float: left;
            text-align: center;
            &.two {
              margin: 0 75px;
            }
            &.last {
              margin-left: 70px;
            }
            img {
              width: 80px;
              height: 80px;
            }
            .title {
              margin: 40px auto 10px;
              font-family: PingFangSC-Regular !important;
              font-size: 28px;
              color: #333333;
              letter-spacing: 1px;
            }
            :last-child {
              font-family: PingFangSC-Light !important;
              font-weight: 200;
              font-size: 16px;
              color: #7688AD;
              letter-spacing: 0.5px;
              line-height: 28px;
            }
          }
        }
      }
      .cloud {
        .cloud-title {
          margin: 32px auto 80px;
          width: 840px;
          font-family: PingFangSC-Light !important;
          font-weight: 200;
          font-size: 16px;
          color: #7688AD;
          letter-spacing: 0.5px;
          line-height: 28px;
        }
      }
      .cloud-body {
        margin-bottom: 100px;
        .mobile_img {
          display: none;
        }
        .pc-img {
          display: block;
        }
        img {
          width: 100%;
        }
      }
      .authentication {
        .auth {
          width: 1170px;
          margin: 0 auto;
          img {
            width: 100%;
          }
        }
      }
      .honor {
        overflow: hidden;
        background: #F9FAFB;
        padding-bottom: 186px;
        .about-title {
          margin-top: 80px;
          margin-bottom: 32px;
          .head {
             color: #F3F4F7;
          }
        }
        .block {
          width: 1170px;
          margin: 0 auto;
          :nth-child(4n) {
            margin-right: 0 !important;
          }
          .honor-block {
            float: left;
            margin-right: 10px;
            margin-bottom: 14px;
            width: 232px;
            height: 60px;
            color: #333333;
            background: #FFFFFF;
            border: 1px solid #D7DAE2;
            box-shadow: 0 1px 6px 0 #E2E2E9;
            text-align: center;
            padding: 25px 20px;
            display: table;
            line-height: 30px;
            p {
              display: table-cell;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
  @media (max-width: @pad_width) {
    .bg-size {
      width: 100%;
      overflow: hidden;
      padding-top: 100px;
      .about-title {
        text-align: center;
        &.absolute {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          margin-top: 40px;
          .foot {
            font-family: MicrosoftYaHei;
            font-size: 18px;
            color: #FFFFFF;
            letter-spacing: 0.5px;
            line-height: 30px;
          }
        }
        .head {
          display: none;
        }
        .foot {
          font-family: MicrosoftYaHei;
          font-size: 18px;
          color: #333333;
          letter-spacing: 0.5px;
          line-height: 30px;
        }
      }
      .about {
        width: 92%;
        margin: 0 auto;
        .about-body {
          margin-top: 15px;
          p {
            text-indent: 24px;
            font-family: MicrosoftYaHeiLight !important;
            font-weight: 200;
            font-size: 12px;
            color: #7688AD;
            letter-spacing: 0.5px;
            line-height: 20px;
          }
        }
        .about-footer {
          overflow: hidden;
          width: 340px;
          margin: 80px auto;
          div {
            overflow: hidden;
            margin: 0 auto;
            .foot-block {
              float: left;
              text-align: center;
              margin-top: 20px;
              &:last-child {
                margin-left: 10%;
              }
              img {
                width: 60px;
                height: 60px;
              }
              .title {
                margin: 40px auto 10px;
                font-family: MicrosoftYaHei;
                font-size: 18px;
                color: #333333;
                letter-spacing: 0.5px;
                line-height: 30px;
              }
              :last-child {
                width: 150px;
                font-family: PingFangSC-Light !important;
                font-weight: 200;
                font-size: 12px;
                color: #7688AD;
                letter-spacing: 0.5px;
                line-height: 20px;
              }
            }
          }
        }
      }
      .cloud {
        .cloud-title {
          margin: 32px auto 80px;
          width: 80%;
          font-family: MicrosoftYaHeiLight !important;
          font-weight: 200;
          font-size: 12px;
          color: #7688AD;
          letter-spacing: 0.5px;
          line-height: 20px;
        }
      }
      .cloud-body {
        margin-bottom: 100px;
        .mobile_img {
          display: block;
        }
        .pc-img {
          display: none;
        }
        img {
          width: 100%;
        }
      }
      .authentication {
        .auth {
          width: 92%;
          margin: 20px auto 0;
          img {
            width: 100%;
          }
        }
      }
      .honor {
        overflow: hidden;
        background: #F9FAFB;
        padding-bottom: 186px;
        .about-title {
          width: 92%;
          margin: 80px auto 32px;
          .head {
             color: #F3F4F7;
          }
        }
        .block {
          width: 92%;
          margin: 0 auto;
          overflow: hidden;
          :nth-child(4n) {
            margin-right: 0 !important;
          }
          .honor-block {
            float: left;
            margin-right: 2%;
            margin-bottom: 14px;
            width: 41%;
            height: 60px;
            color: #333333;
            background: #FFFFFF;
            border: 1px solid #D7DAE2;
            box-shadow: 0 1px 6px 0 #E2E2E9;
            text-align: center;
            padding: 3%;
            display: table;
            line-height: 30px;
            p {
              display: table-cell;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}
